:global {
  .active {
    font-style: italic;
    font-variant: small-caps;
  }

  .nav {
    display: flex;
  }

  .link {
    margin: 5px;
  }

  .App {
    &-form {
      width: 200px;
      display: flex;
      flex-direction: column;
    }

    &-loading {
      color: blueviolet;
    }
  }
}
